* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 250px;
  padding: 30px;
  background-color: grey;
  width: 500px;
}

.inputs {
  height: 60px;
  width: 400px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.submit_button {
  height: 60px;
  width: 400px;
  font-size: 25px;
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 10px;
}
